body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica,sans-serif}
.photo1,.photo2,.photo3
{
	display: inline-block;
	margin:3px;
	width:32.3%;
}
footer
{
	background-color:#C0C0C0;
	height:400px;
    width:97%;
    margin-top: 10px;
    margin-left: 10px
}
.afatra,.adiresy
{
	display: inline-block;
	vertical-align: top;
}
.adiresy
{
	background-color:none;
	padding: 60px;
}
.afatra
{
	background-color: white;
	height: 300px;
	width:50%;
	margin-left:15%;
	padding: 25px;
	margin-top:35px;
}
.h
{
	border:none; 
	border-bottom:1px lightblue solid;
	width: 95%;
	padding:20px;
	margin-bottom:10px
}
.im,.soratra
{
	display: inline-block;
	vertical-align: top;
}
.im
{
	width: 52%;
	margin-left: 8%;
}
#mombanay
{
	width: 97%;
	margin-left: 10px; 
	margin-top:10px ;
	background-color: #C0C0C0
}
h3,h6{margin-left:50px; }
i a
{
	margin: 20px;
	text-decoration:none;
	color: blue;

}
button a
{
	font-style: none;
	color: white;
	text-decoration: none;
}
button a:hover{text-decoration: underline;}
div span{font-weight: bold;}

p,img{vertical-align: middle;}

i
{
	font-style:normal;
	font-family:none;
	font-size:1.3em;
	display: inline-block;
	height: 30px ;
	padding-top: 10px;

}
i:hover{background-color: red}
nav{
	position: fixed;
	
	width: 100%;
	top: 0
}